<div class="jumbotron">
  <h1 class="display-3"></h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>

  <form class="form-inline" method="post" action="users/addBeer">
    <label class="sr-only" for="inlineFormInput">Beers</label>
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="beer name" name="name">

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">1</a>
        <a class="dropdown-item" href="#">2</a>
        <a class="dropdown-item" href="#">3</a>
        <a class="dropdown-item" href="#">4</a>
        <a class="dropdown-item" href="#">5</a>
        <a class="dropdown-item" href="#">6</a>
        <a class="dropdown-item" href="#">7</a>
        <a class="dropdown-item" href="#">8</a>
        <a class="dropdown-item" href="#">9</a>
        <a class="dropdown-item" href="#">10</a>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>
