<div class="jumbotron">
  <h1 class="display-3"></h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>

  <form class="form-inline" method="post" action="users/addBeer">
    <label class="sr-only" for="inlineFormInput">Beers</label>
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="beer name" name="name">

    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary active">
<input type="radio" name="rate" id="option1" autocomplete="off" value="1" checked> 1
</label>
      <label class="btn btn-primary">
<input type="radio" name="rate" id="option2" autocomplete="off" value="2"> 2
</label>
      <label class="btn btn-primary">
<input type="radio" name="rate" id="option3" autocomplete="off" value="3"> 3
</label>
      <label class="btn btn-primary">
<input type="radio" name="rate" id="option4" autocomplete="off" value="4"> 4
</label>
      <label class="btn btn-primary">
<input type="radio" name="rate" id="option5" autocomplete="off" value="5"> 5
</label>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
  </form>

</div>


<div class="col-lg-6">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Top Beers</div>
    <div class="panel-body">
      <p>ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</p>
    </div>

    <!-- Table -->
    <table class="table" id="myTable">
      <tr>
        <th>Name</th>
        <th>Rate</th>
      </tr>
      <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
      </tr>
      <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
      </tr>
      <tr>
        <td>Ernst Handel</td>
        <td>Roland Mendel</td>
      </tr>
    </table>
  </div>
</div>

<div class="col-lg-6">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Your Top Beers</div>
    <div class="panel-body">
      <p>ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit</p>
    </div>

    <!-- Table -->
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Rate</th>
      </tr>
      <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
      </tr>
      <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
      </tr>
      <tr>
        <td>Ernst Handel</td>
        <td>Roland Mendel</td>
      </tr>
    </table>
  </div>
</div>
